:root {
    --background: #292828;
    --white: #d0bb95;   
    --border: #443f3c;
}

* {
  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--background);
    color: var(--white);
    margin: 0;
    /* max-width: 75rem; */
    padding-right: 10px;
    padding-left: 10px;
}

nav {
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.nav-options {
    display: flex;
    gap: 25px;
}

.nav-btn > a {
    text-decoration: none;
    color: inherit;
}

.layout {
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 15px;
}

.left-panel {
    border-radius: 10px;
    border: 1px solid #443f3c;
    flex: 1;
    height: 100%;
    
}

.right-panel {
    border-radius: 10px;
    border: 1px solid #443f3c;
    width: 45lh;
    
}
