* {
    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1c1e2a;
    color: #bfc8e9;
    margin: 0;
    /* max-width: 75rem; */
    padding-right: 12px;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.nav-options {
    display: flex;
    gap: 25px;
}

.nav-btn>a {
    text-decoration: none;
    color: inherit;
}

.layout {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    flex-grow: 1;
    margin-bottom: 11px;
    margin-top: 2px;
}

.left-panel {
    border-radius: 10px;
    border: 1px solid #303446;
    display: flex;
    flex-direction: column;
    width: 42vw;
    overflow: auto;
    background-color: #303446;
}

.left-panel-content {
    padding-left: 8px;
    padding-right: 8px;
}

.right-panel {
    border-radius: 10px;
    border: 1px solid #1e2030;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.heading {
    background-color: #3b3f52;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

textarea {
    height: 100%;
    resize: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #303446;
    border: none;
    outline: none;
    color: #ca9ee6;
    font-family: "Momo Signature", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    text-decoration: none;
    color: #c490e5;
    background-color: #c291e042;
    border: 1px solid #c28fe1;
    border-radius: 10px;
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
}

button {

}