:root {
    --background: #292828;
    --white: #d0bb95;   
}

* {
  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--background);
    color: var(--white);
    max-width: 75rem;
    margin: auto;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
}

nav {
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.nav-options {
    display: flex;
    gap: 25px;
}

.nav-btn > a {
    text-decoration: none;
    color: inherit;
}
